.Rproj.user
.DS_Store
.Rhistory
.RData
.rds
.RDataTmp
.Ruserdata
*.swf
*.air
*.ipa
*.apk
*.err
*.out
*.log
*.tsv
*.csv
.idea
src/*.o
src/*.so
src/*.dll
.settings/
*.pdf
*.png
*.html
docs/
data/
output/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
10x_htap_BMP9.Rproj
FIGURES/
draft/
htap.bmp_shinyApp/
outs.04.05.2023/
outs/
pah.bmp9.shinyApp/